<div class="panel-body">
<%= form_for(group, html: { role: "form" }) do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row  form-group">
    <div class="col-md-2"><%= f.label :name %></div>
    <div class="col-md-6"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="row form-group">
    <div class="col-md-6 col-md-offset-2">
    <%= f.submit 'Update',class: 'btn btn-warning btn-sm' %>
    </div>
  </div>
<% end %>
</div>