<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= @group.name %></h3>
  </div>
</div>
<%= render 'users/lookup' %>
<%= render 'members/index' %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
