<h3>Members</h3>

  <% @members.each_with_index do |member,i| %>
    <% if i % 4 ==  0 %>
      <div class="row">
    <% end %>
    <div class="col-sm-4 col-md-3">
      <div class="member-box thumbnail" data-due-amount=<%=member.due_amount%> >
        <div class="caption">
          <h4 class="member_name"><%= member.user.full_name%></h4>
            <%= hidden_field_tag "member_" + member.id.to_s, member.role %>
          <p class="action_bar">
          <%= link_to '', class: 'btn btn-success btn-sm' do%>
            <i class="fa fa-inbox fa-2x" aria-hidden="true"></i>
            <% end %>
            <%= link_to  '', class: 'btn btn-warning btn-sm' do %>
              <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
            <% end %>
            <%= link_to  '', method: :delete,class: 'btn btn-danger btn-sm',
            data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
            <% end %>
            <h4 class="member_due" ><%=member.due_amount%></h4>
          </p>
        </div>
      </div>
    </div>
    <% if (i + 1) % 4 ==  0 %>
      </div>
    <% end %>
  <% end %>

  <div class="col-sm-4 col-md-3">
    <div class="member-box thumbnail">
      <div class="caption center">
        <%= link_to '#', class: 'undecorated_link' do %>
        <h4>Add new member</h4>
        <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
        <p></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
