<h3>Members</h3>
<div class="row">
  <% @members.each do |member| %>
  
    <div class="col-sm-4 col-md-3">
      <div class="member-box thumbnail">
        <div class="caption">
          <h4><%= member.email%></h4>
            <%= hidden_field_tag "member_" + member.id.to_s, member.roles.pluck(:name) %>
          <p class="action_bar">
          <%= link_to '', class: 'btn btn-success btn-sm' do%>
            <i class="fa fa-inbox fa-2x" aria-hidden="true"></i>
            <% end %>
            <%= link_to  '', class: 'btn btn-warning btn-sm' do %>
              <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
            <% end %>
            <%= link_to  '', method: :delete,class: 'btn btn-danger btn-sm',
            data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Member', new_member_path %>
